<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bryant.projectmdpai">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/Theme.ProjectMdpAI"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".DoctorQuestionDetail"
            android:exported="true" />
        <activity
            android:name=".UserQuestionDetail"
            android:exported="true" />
        <activity
            android:name=".readArticle"
            android:exported="true" />
        <activity
            android:name=".AddQuestionForum"
            android:exported="true" />
        <activity
            android:name=".AdminVerification"
            android:exported="true" />
        <activity
            android:name=".AdminHome"
            android:exported="true" />
        <activity
            android:name=".DoctorProfile"
            android:exported="true" />
        <activity
            android:name=".DoctorHome"
            android:exported="true" />
        <activity
            android:name=".UserHome"
            android:exported="true" />
        <activity
            android:name=".profile"
            android:exported="true" />
        <activity
            android:name=".register"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>